.slider {
    display: flex;
    overflow-x: auto;
    object-fit: cover;
    scroll-snap-type: x mandatory;
   margin-top: 30px;
  }
  
  .slide {
    flex: 0 0 auto;
    scroll-snap-align: start;
    padding: 0 32px;
  }
  
  /* Style for the active slide */
  .slide.active {
     /* Add your styling for the active slide here */
  }
  
  /* Adjust for mobile */
  @media screen and (max-width: 425px) {
    .slider {
      flex-wrap: nowrap;
    }
    .slide {
      width: 100%;
    }
  }
  
  /* Adjust for tablet */
  @media (min-width: 769px) and (max-width: 1024px) {
    .slide {
      width: 50%;
    }
  }